{# @copyright Copyright (c) 2018 Palantir.net #}
<article class="card card--blog">
  <a class="card__link" href="{{card.url}}">
    {% if card.img.src %}
    <div class="card__image {% if card.mime == 'svg' %}card__image--svg{% endif %}" style="background-image: url('{{card.img.src}}'); {% if card.img.hex %}background-color: {{card.img.hex}};{% endif %}"></div>
    {% endif %}
    
    <div class="card__content">
      
      <h3 class="card__title">{{card.title}}</h3>
      
      {% if card.blogDate or card.blogAuthor %}
      <div class="card__meta">
        {% if card.blogDate and card.blogAuthor %}
          {{card.blogDate}} by {{card.blogAuthor}}
        {% elseif card.blogDate %}
          {{card.blogDate}}
        {% else %}
          By {{card.blogAuthor}}
        {% endif %}
      </div>
      {% endif %}
      {% if card.desc %}        
      <div class="card__desc">
        {{card.desc}}
      </div>
      {% endif %}
    </div>
  </a>
  
  {% set tags = card.tags %}
  {% include "tag-list.twig"%}
  
</article>
